* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  margin: 0;
  font-family: "Skranji", cursive;
}

.row {
  display: flex;
  margin: 30px auto;
  width: 65vw;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 50px;
}

img {
  margin: 5px;
  padding: 20px;
  width: 100%;
  border-radius: 25px;
  /* background-color: rgb(238, 240, 240); */
  /* border: 2px solid green; */
  /* vertical-align: middle; */
}

img:hover {
  background-color: rgb(128, 222, 234);
  cursor: pointer;
}

.column {
  flex: 25%;
  /* padding: 5px; */
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
